/*禁止手机用户选取文字*/
.css{-webkit-user-select:none} 
/*禁止手机用户长按时下载图片*/
.css{-webkit-touch-callout: none}  



*{
	margin:0;
	padding:0;
}
#page1{
	position: relative;
	
	height: 100vh;
	background-size: 100% 100%;
	overflow: hidden;
}
#bg{position: absolute;
height: 100vh;

overflow: hidden;}
#page1_1{
	position: relative;
	
	height: 100vh;
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
}
#beijing{
	position: absolute;
	width: 200vw;
	height: 100vh;
	overflow: hidden;
}
#page2{
	position: relative;
	
	height: 100vh;
	background-size: 100% 100%;
	display: none;
	overflow: hidden;
}
#page3{
	position: relative;
	
	height: 100vh;
	background-image: url("../img/桌子.jpg");
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	
}

#page3_1{
	position: relative;
	
	height: 100vh;
	background-image: url("../img/米白色背景.png");
	background-size: 100% 100%;
	overflow: hidden;
	display: none;
	
}
#q{
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#beijing2{position: absolute;
background-image: url("../img/灰白色背景.png");
background-size: 100% 100%;
width: 100%;overflow: hidden;}
.tezhong{
	position: absolute;
	width: 50%;
	top: 66%;
	left: 3%;
}
.chushi{
	position: absolute;
	width: 40%;
	top: 50%;
	left: 23%;
}
/*开始对话*/
.duihua{position: absolute;
font-size: 10px;
color: black;
top: 63%;left: 37%;}
.dianji{position: absolute;
width: 7%;
top: 60%;left: 39.5%;
animation: 1s donghua linear alternate infinite;}
@keyframes donghua{
	from{transform: scale(0.9);}
	to{transform: scale(1.1);}
}
/*告示牌*/
.gaoshipai{position: absolute;
width: 20%;top: 5%;left: 60%;}
.zi3{position: absolute;
font-size: 13px;
color: white;top: 15%;left: 63%;}
.dianji2{position: absolute;
width: 7%;top: 11%;left: 66%;
animation: 1s donghua alternate linear infinite;}
@keyframes donghua{
	from{transform: scale(0.9);}
	to{transform: scale(1.1);}
}

/*气泡对话*/
.qipao{position: absolute;
width: 23%;
top: 42%;left: 31%;}
.zi{position: absolute;
font-size: 12px;
top: 44.5%;left: 34.5%;}
.qipao2{position: absolute;
width: 23%;
top: 58%;left: 10%;}
.zi2{position: absolute;
font-size: 12px;
top: 60%;left: 13.5%;}
.qipao3{position: absolute;
width: 23%;
top: 40%;left: 30%;}
.zi6{position: absolute;
font-size: 12px;
top: 41.5%;left: 33.5%;}





/*告示牌跳转后的内容*/
.jshao{position: absolute;
width: 80%;top: 10%;left: 10%;height: 70%;}
.zi4{position: absolute;
color: white;top: 14%;left: 15%;}
.zi5{position: absolute;
font-size: 14px;color: white;
top: 20%;left: 18%;}
#fanhui{position: absolute;
font-size: 25px;color: white;
top: 9%;left: 12%;}


/*对话*/

#duihua3{animation: aa 3s alternate linear;
display: none;opacity: 0;
animation-delay: 1s;
}
@keyframes aa{from{opacity: 0;}
to{opacity: 100%;}}
#daduihua{
	animation: donghua2 2s forwards linear;
animation-play-state: paused;}
@keyframes donghua2{from{opacity: 0;}
to{opacity: 100%;}}
/*两个菜单*/
.caidan1{position: absolute;
width: 10%;top: 50%;left: 50%;
animation: bb 1s forwards linear;
display: none;
opacity: 0;
animation-delay: 2s;
}
@keyframes bb{
	from{opacity: 0;}
	to{opacity: 100%;}
}
.caidan2{position: absolute;
width: 80%;height: 65%;
top: 10%; left: 10%;}

/*菜品（字）（竖着）*/
.cai1{position: absolute;
font-size: 13px;top: 27%;left: 23%;}
.dianfen{position: absolute;
width: 2%;top: 26.5%;left: 44%;}
.cai2{position: absolute;
font-size: 13px;top: 33%;left: 23%;}
.doujiao{position: absolute;
width: 2%;top: 33%;left: 44%;}
.cai3{position: absolute;
font-size: 13px;top: 39%;left: 23%;}
.doupao{position: absolute;
width: 2%;top: 39%;left: 44%;}
.cai4{position: absolute;
font-size: 13px;top: 45%;left: 23%;}
.jichi{position: absolute;
width: 2%;top: 45%;left: 44%;}
.cai5{position: absolute;
font-size: 13px;top: 51%;left: 23%;}
.jinzhengu{position: absolute;
width: 2%;top: 51%;left: 45%;}
.cai6{position: absolute;
font-size: 13px;top: 57%;left: 23%;}
.lianou{position: absolute;
width: 2%;top: 57%;left: 44%;}
.cai7{position: absolute;
font-size: 13px;top: 63%;left: 23%;}
.wuhua{position: absolute;
width: 2%;top: 63%;left: 44%;}

/*菜品*/
.cai8{position: absolute;
font-size: 13px;top: 27%;left: 55%;}
.xia{position: absolute;
width: 2%;top: 26.5%;left: 79%;}
.cai9{position: absolute;
font-size: 13px;top: 33%;left: 55%;}
.yu{position: absolute;
width: 2%;top: 33%;left: 79%;}
.cai10{position: absolute;
font-size: 13px;top: 39%;left: 55%;}
.yumi{position: absolute;
width: 2%;top: 39%;left: 79%;}
.cai11{position: absolute;
font-size: 13px;top: 45%;left: 55%;}
.peigen{position: absolute;
width: 2%;top: 45%;left:79%;}
.cai12{position: absolute;
font-size: 13px;top: 51%;left: 55%;}
.youyu{position: absolute;
width: 2%;top: 51%;left: 79%;}
.cai13{position: absolute;
font-size: 13px;top: 57%;left: 55%;}
.xiebang{position: absolute;
width: 2%;top: 57%;left: 79%;}
.cai14{position: absolute;
font-size: 13px;top: 63%;left: 55%;}
.wawacai{position: absolute;
width: 2.5%;top: 63%;left: 79.5%;}


/*input菜品图片（竖着）*/
.a1{position: absolute;
width: 15%;top: 27.5%;left: 13%;}
.a2{position: absolute;
width: 15%;top: 33.5%;left: 13%;}
.a3{position: absolute;
width: 15%;top: 39.5%;left: 13%;}
.a4{position: absolute;
width: 15%;top: 45.5%;left: 13%;}
.a5{position: absolute;
width: 15%;top: 51.5%;left: 13%;}
.a6{position: absolute;
width: 15%;top: 57.5%;left: 13%;}
.a7{position: absolute;
width: 15%;top: 63.5%;left: 13%;}

/*input菜品图片*/
.a8{position: absolute;
width: 15%;top: 27.5%;left: 45%;}
.a9{position: absolute;
width: 15%;top: 33.5%;left: 45%;}
.a10{position: absolute;
width: 15%;top: 39.5%;left: 45%;}
.a11{position: absolute;
width: 15%;top: 45.5%;left: 45%;}
.a12{position: absolute;
width: 15%;top: 51.5%;left: 45%;}
.a13{position: absolute;
width: 15%;top: 57.5%;left: 45%;}
.a14{position: absolute;
width: 15%;top: 63.5%;left: 45%;}


.ann{position: absolute;
width: 25%;top: 80%;left: 35%;}

/*音乐*/
#yinyue{
			position: absolute;
			left: 88%;
			top: 3%;
			
		}
		#yinyue1{
			width: 35px;
			animation: yinyue1 3s infinite linear; */
			animation-play-state: running;
		}
		@keyframes yinyue1{
			from{ transform: rotate(0deg);}
			to{ transform: rotate(360deg);}
		}
		
			#nnnn{position: absolute;
			width: 100vw;height: 100vh;background-size: 100% 100%;overflow: hidden;
			top: 10vw;left: 15vw;
			animation-play-state: paused;
			display: none;}
			#time{position: absolute;
			color: red;
			font-size: 30px;
			animation-play-state: paused;}
			.ti{position: absolute;top: 18%;left: 110px;
			animation-play-state: paused;}
			
			.nao{position: absolute;width: 45px;height: 15%;top: 24%;left: 15%;
			animation: 0.5s nao linear alternate infinite;
			animation-delay: 10s;
			}
			@keyframes nao{
				from{transform: rotate(-5deg);}
				to{transform: rotate(5deg);}
				
			}
			#nao{
				position: absolute;
				width: 55px;height: 15%;
				top: 23%;left: 5%;
				animation: 0.5s naonao linear alternate infinite;
				animation-delay: 10s;
			}
			@keyframes naonao{
				
				form{transform: rotate(-5deg);}
				to{transform: rotate(5deg);}
			}
			
				/*开烤食材*/
			.xia2{position: absolute;
				width: 10%;left: 45%;top: 64%;
				animation: xia 3s linear alternate infinite;
				animation-play-state: paused;}
				@keyframes xia{
					0%{left: 40%;}
					50%{left: 45%;}
					100%{left: 50%;}
				}
		/* 炉子 */
		.lu{
			position: absolute;
			width: 60%;left: 22%;top: 59%;
		}
		#di {width:350px;height:70px;padding:10px;border:1px solid #aaaaaa;}
		
		/* 表 */
		.xiao{position: absolute;width: 100px;height: 100px;}
		#biao{position: absolute;
		
		}
		
		
		/* 表格菜品 */
		.xia3{position: absolute;width: 5%;top: 1%;left: 7%;
		}
		.yu2{position: absolute;width: 5%;top: 1%;left: 30%;
		animation: cai 4s linear alternate forwards;
		animation-play-state: paused;}
		@keyframes cai{
			0%{top: 1%;left: 30%;}
			60%{width: 8%;}
			100%{left: 45%;top: 64%;width: 8%;}
		}
		.yu3{position: absolute;
		animation: cai2 4s linear alternate infinite;
		animation-play-state: paused;}
		@keyframes cai2{
			0%{left: 40%;}
			50%{left: 45%;}
			100%{left: 50%;}
		}
		.kaochang{position: absolute;width: 5%;top: 1%;left: 53%;
		animation: cai2 4s linear alternate forwards;
		animation-play-state: paused;}
		@keyframes cai2{
			0%{top: 1%;left: 53%;}
			60%{width: 8%;}
			100%{left: 45%;top: 64%;width: 8%;}
		}
		.xiebang2{position: absolute;width: 5%;left: 7%;top: 13%;
		animation: cai3 4s linear alternate forwards;
		animation-play-state: paused;}
		@keyframes cai3{
			0%{top: 13%;left: 7%;}
			60%{width: 8%;}
			100%{left: 45%;top: 64%;width: 8%;}
		}
		.peigen2{position: absolute;width: 5%;left: 30%;top: 13%;
		animation: cai4 4s linear alternate forwards;
		animation-play-state: paused;}
		@keyframes cai4{
			0%{top: 13%;left: 30%;}
			60%{width: 8%;}
			100%{left: 45%;top: 64%;width: 8%;}
		}
		.wuhua2{position: absolute;width: 5%;left: 53%;top: 13%;
		animation: cai5 4s linear alternate forwards;
		animation-play-state: paused;}
		@keyframes cai5{
			0%{top: 13%;left: 53%;}
			60%{width: 8%;}
			100%{left: 45%;top: 64%;width: 8%;}
		}
		
		/* 开烤了 */
		#zi{position: absolute;
		font-size: 60px; color: red;
		top: 20%; left: 20%;}
		.ann3{position: absolute;width: 40%;height: 8%;top: 50%;left: 30%;}
		
		
		/*  */
		.ann2{position: absolute;
		width: 30%;top: 88%;left: 37%;}
		#zi2{position: absolute;
		font-size: 30px;top: 89%;left: 44%;}
		/* 开吃 */
		
		.xia4{position: absolute;width: 6%;top: 5%;left: 5%;
		
		animation: 3s xia4 linear forwards;
		animation-play-state: paused;}
		@keyframes xia4{
			0%{top: 5%;left: 5%;}
			100%{top: 23%;left: 55%;}
		}
		.yu4{position: absolute;width: 6%;top: 15%;left: 5%;
		animation: 3s yu4 linear forwards;
		animation-play-state: paused;}
		@keyframes yu4{
			0%{top: 20%;left: 5%;}
			100%{top: 23%;left: 55%;}
		}
		.kaochang4{position: absolute;width: 6%;top: 25%;left: 5%;
		animation: 3s kaochang4 linear forwards;
		animation-play-state: paused;}
		@keyframes kaochang4{
			0%{top: 35%;left: 5%;}
			100%{top: 25%;left: 55%;}
		}
		.cong{position: absolute;width: 20%;top: 5%;left: 50%;
		
		animation: 3s cong linear forwards ;
		animation-play-state: paused;}
		@keyframes cong{
			0%{top: 5%;left: 50%;}
			100%{top: 24%;left: 50%;}
		}
		.bing{position: absolute;width: 37%;top: 20%;left: 40%;}
		#tezhong{position: absolute;
		width: 80%;top: 45%;left: 10%; height: 60%;}
		.juanbing{position: absolute;
		width: 30%;top: 70%;left: 45%;}
		.qipao4{position: absolute;top: 40%;left: 50%;width: 40%;}
		.hua{position: absolute;font-size: 30px;top: 45%;left: 52.5%;}
		#zi4{display: none;}
		.ann4{position: absolute;width: 20%;top: 46%;left: 80%;}
		.kaichi{position: absolute;font-size: 40px;top: 40%;left: 80%;}
		#fanhui2{position: absolute;font-size: 40px;top: 5%;left: 5%;
		display: none;}
		
		
		#page2_1{position: relative;height: 100vh;
		background-image: url('../img/灰白色背景.png');
		background-size: 100% 100%;
		overflow: hidden;
		display: none;
		}
		
		/* 计算器 */
		.box{width: 290px;height: 470px;margin: 30px auto;border: 1px solid #000;
		top: 38%;position: absolute;left: 15%;}
		.list li{list-style: none;float: left;width:50px;height:50px;margin: 10px;border: 1px solid #999;
		        border-radius: 10px;background: #eee;cursor: pointer;text-align: center;
		        line-height: 50px;font-weight: bold;font-size: 25px;}
		.txt1{border-bottom: 1px solid #000;font-size: 30px
		;width: 285px;height: 50px;top: 50px;
		border: none;}
		.txt2{border-bottom: 1px solid #000;font-size: 30px
		;width: 285px;height: 50px;top: 50px;
		border: none;}
		.list li:hover{background: #888;}
			
			/* 记菜本 */
			.jicaiben{
				position: absolute;
				width: 70%;
				height: 38%;
				top: 5%;
				left: 12%;
			}
			
			#next{position: absolute;
			font-size: 40px;
			top: ;}
			
			
			
			
			#ann2{position: absolute;
			width: 30%; top: 90%;left: 40%;}
			#jiazai{position: absolute;
			font-size: 20px;top: 92%;left: 41%;}
			
			#myOutput{
				position: absolute;
				width: 40vw;
				height: 40vw;
				left: 18%;
				top: 23%;
				font-size: 15px;
				overflow: hidden;
			}
			#jicai{
				position: absolute;
				background-image: url("../img/烧烤对话框.png");
				background-size: 100% 100%;
				width: 70%;
				height: 35%;
				left: 15%;
				top: 5%;
				overflow: hidden;
			}